:root {
    font-size: 16px;
}
body {
    padding:0;
    margin:0;
}
#image{
	position:relative;
	border-style: none;
	height:100vh;
	background:url(lead-bg.jpg);
	background-size:cover;
	text-align: center
}
.overlay{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	bottom:0;
	background:rgba(33,125,187,0.8);
/* 	z-i ndex:1;
 */}
h3{
	font-family: 'Lato';
	color: #FFFFFF;
	font-size: 4rem;
	text-align: center;
	margin-top: 3vmax;
	margin-bottom: 0;
	text-transform: uppercase;
}
h5{
	font-family: 'Abel';
	color: #D6EAF8;
	font-size: 2rem;
	text-align: center;
	margin:0;
}
h2{
	margin:0;
	font-family: 'Abel';
	font-size: 2rem;
	font-weight: 200;
}

.btn2 {
    background-color: transparent; 
    border-color: grey;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline:none;
    border-radius: 50%
}

.btn1{
	font-family: 'Abel';
	background-color: transparent;
	font-size: 1.2rem;
	height: 12vh;
	width:  29vh;
	color: #FFFFFF;
	border-radius: 500px;
	border-color: #FFFFFF;
	outline: none;
	display:block;
	margin: 4vh auto;
}
.btn1:hover{
	background-color: #FFFFFF;
	color: #2874A6 ;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Add a white background color to the top navigation */
.topnav {
	display: inline-block;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: center;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
  	animation: 1s ease-out 0s 1 slideInFromTop;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #429aec;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 1.3rem;
}

a{
    display: inline-block;
    color: #429aec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:#c5d5ec;
    color: #429aec;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #c5d5ec;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.Info{
	background-color: #FFFFFF;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 4vh;
}
.Info_change{
	background-color:#F0F0F0;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 5vh;
	flex-wrap: wrap;
}
.heading{
	font-weight: 200;
	font-family: 'Abel';
	font-size: 2.5rem;
	color:#404040;
	border-bottom: 1px solid #429aec;
	margin-top: 5vh;
}
.subheading{
	font-family: 'Abel';
	font-size: 1.2rem;
	color:#363434;
	margin:0;
}
p{
	font-family: 'Abel';
	font-size: 1.2rem;
	color:#363434;
	padding: 2vh;
    text-align: justify;
}
.p1{
	font-family: 'Abel';
	font-size: 1rem;
	overflow:hidden;
	color:#363434;
	white-space: pre-line;
}
.card{
	position: relative;
	width: 85%;
	background-color: #FFFFFF;
	top:3vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
	margin-bottom: 9vh;
	padding-bottom: 2vh;
	border-radius:8px;
	text-align: center;
}
.qualification{
	font-family: 'Abel';
	font-size: 1.3rem;
	overflow:hidden;
	color:#363434;
	margin-bottom: 2vh;
}
h4{
	position: relative;	
	font-weight: 200;
	font-family: 'Abel';
	font-size: 1.8rem;
	color:#404040;
	margin: 0;
	text-align: center;
}
.date{
	font-family: 'Abel';
	font-size: 1.2rem;
	color:#363434;
	background-color: #FFFFFF;
	text-align: center;
}
.education{
	border: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: 3vh;
	font-family: 'Abel';
	font-size: 1.2rem;
	color:#363434;
	width: 85%;
	margin-bottom:3vh;
	padding: 2vh;
    text-align: justify;
}
.projects{
	display:flex;
	flex-direction: row-reverse;
	position: relative;
	background-color: #FFFFFF;
	top:3vh;
	margin-bottom: 8vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
	border-radius:5px
}
.project_image{
	background:url(project.jpg);
	max-height: 100%;
	width: 30vw;
}
.project_details{
	display: flex;
	flex-direction: column;
	width: 50vw;
	text-align: center;
	margin: 8vh 2vw 0vh 2vw;
	font-family: 'Abel';
	font-size: 1.5rem;
	color:#404040;
}
.interestsdiv{
	background-color: #FFFFFF;
	display: flex;
	margin:2%;
	width: 85%;
	justify-content: center;
	flex-wrap: wrap;
}
.interests{
	background-color: #CCD1D1;
	padding: 0.5vmax;
	border-radius: 9px;
	margin: 2vh;
}
form {
	padding: 10px;
	background-color: #2E86C1  
}
.form-element {
	display: flex;
	flex-direction: column;
	padding-bottom: 3vh;
	margin-left: 15vw;
	margin-right: 15vw;
}
input, textarea {
	border: none;
	color:  #FFFFFF;
	padding: 5px;
	background: #5DADE2 ;
	border-radius:5px
}
input:focus, textarea:focus {
	outline: none;
	background-color: #21618C  
}
form button{
	background-color: #FFFFFF;
	color: #3498DB;
	font-size: 1.2rem;
	margin-top: 5vh;
	padding: 2vh;
	transition: border 0.3s linear 0.1s;
	border-radius:5px
}
form button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
	cursor: pointer;
}
::placeholder {
    color: #FFFFFF;
    opacity: 1; 
    font-size: 0.8rem;
}
h1{
	font-family: 'Abel';
	color: #FFFFFF;
	text-align: center;
	font-size: 2rem;
	font-weight: 200;
}
.footer{
	background-color: #FFFFFF;
	float: right;
}
.fa {
  padding: 15px;
  width: 10px;
  text-decoration: none;
  margin: 5vh 0vh 5vh 0vh;
}
.fa:hover {
	color: #2E86C1  
}
.fa-facebook {
  background: transparent;
  color: #5F6A6A  
}
.fa-twitter {
  background: transparent;
  color: #5F6A6A
}
.fa-google {
  background: transparent;
  color: #5F6A6A
}
.fa-github {
  background: transparent;
  color: #5F6A6A
}
.fa-stack-overflow{
  background: transparent;
  color: #5F6A6A;
  margin-right: 5vh;
}

@media screen and (max-width: 872px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    margin-left: auto;
	margin-right: auto;
	display: block;
  }
  .topnav{
  	margin:0;
  	width: 10%;
  	float: right;
  	border-radius: 0px;	
  }
  
}
@media screen and (max-width: 872px) {
  .topnav.responsive {position: relative;width: 100%}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
 }